/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*** General ***/
#page-title { display: none;}
h1, h2, h3, h4, h5, h6, p, div, a, body {font-family: 'Gotham', 'Lato', sans-serif;}
html, body, #page, #section-content, #zone-content-wrapper{
 height: 100%;
}

xbody.page-node-10,
x.page-node-10 #page,
x.page-node-10  #section-content,
.page-node-10  #block-webform-client-block-12{
  height: 250px;
  overflow: auto;
} 

#page .section , #page { min-width: 1215px;}
.page-node-10 #page .section, .page-node-10 #page {min-width:960px;}


x#region-content { position: relative; float: left; }
x#page #zone-content { background-size: auto 100%; } 

.view-event .node-title { display: none; } 
.view-main-room #detail_div .view .view-content{ background: #FFFFFF;padding: 10px 10px 70px 10px; margin-top: 4px;margin-right: 10px; height: 100%; position: relative; min-width: 160px; max-width: 190px;} 
  <?php endif; ?>
.view-main-room #detail_div img { margin: 0 auto;}
.view-main-room .views-view-grid img { background: #FFFFFF; padding: 3px; margin: 0 auto;}
.view-main-room .views-field-php span { display: block; position: relative; margin: 0 auto; width: 100%;}
.view-main-room .views-view-grid td { padding: 4px;}


.detail-img { position: relative; display: block; margin: 0 auto;}
tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active { background: transparent;}
table { border: 0px;}


#block-webform-client-block-12 { font-size: .9em;}


/*** Header and Menu ***/

#zone-branding { background: transparent url('../images/themingl_header_bg.jpg');}
#region-branding, #region-branding a { color: #FFFFFF;}
#region-branding div { vertical-align: bottom; padding: 0;}
#block-block-1 { position: absolute; top: 5px; right: 10px;}
#block-fb-connect-login-themingl { position: absolute; bottom: 10px; right: 190px;}

#region-branding .branding-data  { position: relative; float: left;}
#region-branding .region-inner {position: relative; height: 81px;  vertical-align: bottom; overflow: hidden;}
#region-branding .region-inner p { margin-bottom: 0;}

#region-branding .region-inner .main-menu li {background: transparent url('../images/themingl_menu_bg.png'); height: 81px; display: block; position: relative; margin: 0 2px; padding: 0 10px; line-height: 81px;}
#region-branding .region-inner .main-menu li:hover {background: transparent url('../images/themingl_menu_bg_over.png'); }
#region-branding .region-inner .main-menu li a { text-decoration: none; text-transform:uppercase; /*padding-top: 30px;*/ font-weight: bold; display:inline-block;line-height: normal;vertical-align: middle;font-size:11px;}
#region-branding .region-inner .main-menu li:hover a { color: #b8833d;}

#block-block-1 .content { vertical-align: bottom;}

#region-branding #header-logo-block img { padding: 0px;}
#region-branding #header-logo-block #header_logo_image { position: relative; float: left; padding: 0 5px 0 0;}
#region-branding #header-logo-block {position: relative; float: left; color: #b8833d; font-size: .8em; padding: 0 10px 0 0;}
#region-branding #header-logo-block a { color: #FFFFFF;}
.view-main-room #detail_div{ width: auto; overflow: hidden; height: auto;padding-bottom: 100px;min-width: 200px;}
.view-main-room-detail .views-field-php img { max-width: 150px;}
.view-main-room-detail .detail-img { max-width: 150px; max-height: 150px;}
.view-main-room-detail .views-field-name-1 { font-weight: bold; font-size: 1.2em; margin-bottom: 5px;}
.view-main-room-detail .views-field-php-1 { margin-top: 10px;}
#block-block-1 { font-size: .8em;}

.page-vls-livebc #region-page-bottom { z-index: 999999; position: fixed; bottom: 0;}
#drupalchat-wrapper { width: 100%; background: transparent;}
#drupalchat { position: relative; float: left; width: 84%; z-index: 999999; }
#region-branding, #zone-content { padding: 0;}

#drupalchat .subpanel_title div.status-0 { margin-top: 10px; margin-left: 6px;}

.chatboximage { position: relative; float: left;}
.chatboximage img {  height: 30px;}

#drupalchat #chatbox_c-0{ display: none !important;}
#drupalchat #chatpanel {display: none !important;}

#drupalchat #mainpanel { float: right; position: relative; width: auto;} 

#block-block-1 img { padding: 0 5px;}
#region-page-bottom { position: absolute; bottom:40px; width: 100%; left: 0;}
.page-node-10 #region-page-bottom { /*position: relative;  width: 100%;*/ }
.logo-img { margin-right: 0px;}
/*** Login Page ***/
#mingl-fblogin { position: absolute; bottom: 40px; right: 150px;}
#block-block-2 .block-inner .content{ width: 554px; height: 283px; margin: 0 auto; position: relative; padding-top: 0;}
.page-node-9 #section-header { display: none;}
.page-node-9 #section-content,
.page-node-9 #zone-content-wrapper { height: 100%; }
.page-node-9 #zone-content { min-height: 100%; position: absolute; width: 100%; background-color: #f5f3fe;}
.page-node-9 #block-block-3 { display: none;}
/*** Footer ***/
#block-block-3 { position: absolute; bottom: 0; width: 100%; background-color: #ffffff; height: 40px;  padding: 0px 50px;  text-decoration: none; text-transform:uppercase; color: #3d3d3d; font-size: .9em;}
#themingl-footer {width: 100%;}
#themingl-footer-left,
#themingl-footer-center,
#themingl-footer-right { position: relative; display: inline-block; margin-top: 0px;}

#themingl-footer-left { width: 28%; }
#themingl-footer-center { width: 28%;}
#themingl-footer-right { width: 38%;}

#drupalchat-wrapper { bottom: 40px; right: 24%;}


/*** Chat and POV ***/

#region-sidebar-second {

  position: relative;
  /*float: right;*/
  float:left;
  height: 100%;
  /*width: 24%;*/
  margin-left:30px;
}

#region-content { 
 /*width: 68%;*/
 float: left;
}
.page-node-10 #region-content {width: 68%;}
.page-node-6 #region-content,
.page-node-9 #region-content {
 width: 100%;
 float: none;
}
.page-node-9 #region-content .region-inner{

 position: relative; 
 margin: 0 auto;
 width: auto;

}	

#node-media-gallery-7 { padding: 100px  200px;}
#node-room-6 .content { position: relative; height: 100%;}
#node-room-6 .field-name-body { padding: 50px 30%;}

.page-node-8 #region-sidebar-second { 

  position: relative;
  /*float: right;*/
  float: left;
  height: 100%; 
  vertical-align: bottom;
  /*width: 25%;  */
  margin-left:30px;
  
}



.page-node-8 #region-sidebar-second .region-inner{

  background-color: #858585;
  padding: 8px;  
  /*position: absolute;
  left: 0;*/
  overflow: hidden;
  /*bottom: 220px;*/

  position:fixed;
  right: 0;
  width:250px;
  bottom:40px;
}
.shoutbox-admin-links { width: 100%;}
.shoutbox-msg-img { position: relative; float: left; width: 40px; height: 40px;}
.shoutbox-msg span { display: block; position: relative; float: left; clear: both;}
.shoutbox-msg span.shoutbox-msg-time { /*display: none;*/}
.shoutbox-msg-content { position: relative; float: left;}
.shoutbox-msg .username {}
#block-shoutbox-shoutbox .block-inner {

 height: 100%;
 background: #FFFFFF; 
}

#drupalchat .subpanel_title div.status-1 {
    margin: 11px 6px 0 6px;
}
#zone-content { height: 100%;}

#block-shoutbox-shoutbox { 
 height: 300px;
 background: #FFFFFF;
}
#block-block-6 {
 background: #FFFFFF;
}
#block-block-6 p { padding: 8px 8px 0px 8px;}

#block-block-6 div {

  /*padding: 8px 8px 0px 8px;*/
  padding: 0;
  font-size: 1.1em;
  font-weight: bold;

}

#block-shoutbox-shoutbox .content { height: 100%;}

#shoutbox-body { height: 210px; overflow: auto;}

.shoutbox-add-form input#edit-message {   width: 99%; display: block;}
.shoutbox-add-form { padding-top: 20px;}
#block-block-6 .block-title,
#block-shoutbox-shoutbox .block-title
 {
    /*background: url("../images/themingl_pov_title.png") no-repeat no-repeat top left transparent;*/
    display: block;
    height: 32px;
    margin-right: 6px;
    margin-top: 4px;
    overflow: hidden;
    margin: 0;
    /*padding-left: 50px;*/
    padding-left: 10px;
    vertical-align: middle;
    line-height: 32px;
    background-color: #282828;
    color: #FFFFFF;
    font-size:14px;
    text-transform: uppercase;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}
c.shoutbox-add-form { padding: 10px; position: absolute; bottom: 0;}
.shoutbox-interval-msg, .shoutbox-all-shouts { display: none; }
#shoutbox-add-form #edit-submit { 

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #000000 none;
    border-color: none;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0px;
    color: #e34b16;
    cursor: pointer;
    font: bold 12px/1.2;
    font-family: 'Gotham', 'Lato', sans-serif;
    outline: 0 none;
    overflow: visible;
    padding: 3px 10px 4px;
    text-shadow: 0 0 #000000;
    text-transform: uppercase;
    width: auto;
    margin-top: 10px;
}
#edit-wrapper { padding: 10px;}

#drupalchat #chatbox_c-0 .subpanel_title div.status-1 {
    background: url("../images/themingl_pov_title.png") no-repeat no-repeat top left transparent;
    background: url("../images/themingl_pov_title.png") no-repeat scroll 100% center transparent;
    display: block;
    float: left;
    height: 32px;
    margin-right: 6px;
    margin-top: 4px;
    overflow: hidden;
    width: 43px;
    margin: 0;
}
#drupalchat .subpanel_title { 
    height: 32px;
    padding: 0;
    vertical-align: middle;
    line-height: 32px;
    background: #282828;
}

#drupalchat ul li a.chatboxhead { width: 229px; }

#drupalchat .subpanel { padding: 8px; background-color: #858585; margin: 0; }
#drupalchat .subpanel_title span {    padding: 8px 4px 0;}
#drupalchat ul li { background: transparent url('../images/themingl_header_bg.jpg'); }
#drupalchat ul li,
#drupalchat ul li a { color: #FFFFFF;}
#drupalchat ul li:hover a,
#drupalchat ul li a.active  {background: transparent url('../images/themingl_menu_bg_over.png'); height: auto;}
#drupalchat ul li:hover div a { background: transparent none; }
#drupalchat ul li a { text-decoration: none; text-transform:uppercase;  font-weight: 900;}
#drupalchat ul li:hover a { color: #b8833d;}

#drupalchat ul li a.chatboxhead { width: 229px; }

#drupalchat li {background: transparent url('../images/themingl_menu_bg.png');  display: block; position: relative; margin: 0 2px; padding: 0 15px; }
#drupalchat li:hover {background: transparent url('../images/themingl_header_bg.jpg'); }
#drupalchat li a { text-decoration: none; text-transform:uppercase; padding-top: 30px; font-weight: 300; }
#drupalchat li:hover a { color: #b8833d;}
#drupalchat ul li a.active,
#drupalchat ul li a:hover { background: transparent url('../images/themingl_menu_bg_over.png');  }
#drupalchat li div a:hover { background: transparent none; }
#drupalchat #chatbox_c-0 .chatboxhead{ background: url("../images/themingl_pov_title.png") no-repeat scroll top left transparent;}
#drupalchat #chatbox_c-0 .chatboxhead span {  padding-left: 45px; }
#drupalchat  .chatboxhead {height: auto; padding-top: 0; padding-bottom: 0;}


#block-views-main-room-detail-block{
  float: left; position: relative;
}

#block-views-main-room-block { 
   float: left; position: relative; padding-top: 20px;
   /*padding-left: 20%;    */
   width: 65%;
 }
#block-views-main-room-block .block-inner {

    min-width: 700px;



}


#block-views-main-room-block .block-inner,
#block-views-main-room-block .block-inner table { 
   margin: 0 auto;
   width: auto;
}

.view-main-room .view-header
{ position: relative; float: left;}

.view-main-room .view-content
{ position: relative; float: right; clear: right;}



.view-main-room { position: relative;}



#detail-div { height: 100%;}



/*** Webform / Profile***/

.webform-component div.description { font-weight: bold; font-size: 1em; color: #000000; width: 50%; position: relative; float: left; margin-left: 0px;}
x#block-block-7 .form-item:after {
    font-size: 0;
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.grippie, .webform-component textarea { width: 80%;}
.webform-client-form #edit-submit { position: relative; float: right; margin-right: 50px; margin-top: 20px;}
.page-node-10 #region-content{ padding: 30px 0 0 30px;}
#block-block-7  label, #block-block-7 textarea {width: 80%;}

/*** Menu ***/

#block-superfish-1 li { /*width: 36px;*/width:60px; text-align: center; vertical-align: middle;}


#region-branding { margin: 0;}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
    padding: 20px 0px;
    width: 640px;
}
.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
    height: 150px;
    width: 640px;
}
.jcarousel-skin-ie7 .jcarousel-container {
    background: none repeat scroll 0 0 transparent;
    border: 0px solid #808080;
    border-radius: 10px 0;
}
.jcarousel-skin-ie7 .jcarousel-item {
    border: 0px solid #FFFFFF;
    height: 150px;
    width: 93px;
    text-align: center;
}
.view-media-gallery, .view-media-gallery-stage { width: 100%; position: relative;}
x.page-dh-the-chocolatiers-corner #region-content, 
x.page-dh-lady-godiva-honorees #region-content, 
.page-media-mothers-showcase #region-content {
    /*float: none;
    width: 100%;*/
} 
.views_slideshow_jcarousel_pager_item .views-content-title {
  width:120px;
  text-align: center;
  font-size: .8em;
  word-wrap: break-word;
  font-weight: bold;
}

.page-dh-the-chocolatiers-corner .view-content,
.page-media-the-chocolatiers-corner .view-chef-table-display  .view-content,
.page-dh-lady-godiva-honorees .view-content,
.page-media-lady-godiva-honorees .view-lady-godiva-honorees  .view-content, .page-media-mothers-showcase .view-content
 { margin: 100px auto 0; width: 640px;padding-left: 30%;}
/*.page-media-mothers-showcase .view-content  { margin: 100px auto  0; width: 640px;padding-left: 0; text-align: left;}*/

#block-views-media-stage-block-1 .view-content,
#block-views-chef-table-block-1 .view-content,
#block-views-cb6681beb4bb3b730a718b416e733561 .view-content  {padding-left: 35%;  margin: 0 auto; width: 700px;}




.page-media-the-chocolatiers-corner .views-field-title, .page-media-lady-godiva-honorees .views-field-title { width: 120px; }

#block-block-11 { margin: 280px 50px 100px; background: #2c2d2c; color: #FFFFFF;}
#block-block-11 .block-title { background: #53534f; font-size: 1.1em; padding: 0 10px;  text-align: center;} 
#block-block-11 .content { padding: 10px 20px 0px; font-size: 1em}
.page-media-the-chocolatiers-corner #zone-content,
.page-dh-the-chocolatiers-corner #zone-content {
background-image: url('/sites/default/files/backgrounds/chocolatiers-corner.jpg');
background-size: 100%;
background-position: top center;
background-repeat: no-repeat;
padding: 1px;

}

.page-media-lady-godiva-honorees #zone-content,
.page-dh-lady-godiva-honorees #zone-content {
	background-image: url('/sites/default/files/backgrounds/lady-godiva.jpg');
background-size: 100%;
background-position: top center;
background-repeat: no-repeat;
padding: 1px;
}

.page-media-gallery #region-content,

.page-media-mothers-showcase #zone-content {
background-image: url('/sites/default/files/backgrounds/motherhood-showcase.jpg');
background-size: 100%;
background-position: top center;
background-repeat: no-repeat;
padding: 1px;
}

.jcarousel-skin-ie7 .jcarousel-item {
    border: 0px solid #FFFFFF;
    width: 118px;
    padding: 0px;
}

.jcarousel-prev, .jcarousel-next { display: none !important;}


.view-facebook-friends-invite table { width: auto;}
.video-preview .node-title { display: none; }
#block-block-8, #block-views-facebook-friends-invite-block { width: 48%; position: relative; float: left; display: block;  padding: 0; margin: 0;}


.node-music .node-title { display: none;}
#block-block-9 { width: 200px;}


.page-mingl-events .block-system-main { margin: 50px 100px;}
.page-mingl-events .views-field-name { display: none; }

#edit-profile-dh-bakers-club-field-membership-und .form-item { position: relative; float: left; padding: 0 10px;}
#edit-profile-dh-bakers-club-field-membership-und { position: relative; clear: both;}
#profile2-edit-dh-bakers-club-form label { clear: left;}
#block-block-10 { padding-top : 10px;}

#jquery-countdown-jquery-countdown a { text-align: center; font-size: 1.2; font-weight: bold; padding: 10px; text-decoration: blink;}
.countdown_row { font-size: 1.2; font-weight: bold; }
#block-jquery-countdown-jquery-countdown { padding-bottom: 10px;}
#jquery-countdown-jquery-countdown { text-align: center;}
.streaming-chat-link { text-align: center; background:#CCCCCC;}
.streaming-chat-link a { color: #000000; text-decoration: none; font-weight: bold;}
.streaming-chat-link { width: 640px;}



x.views-slideshow-cycle-main-frame-row-item ,
x.media-youtube-preview-wrapper,
x.media-youtube-outer-wrapper,
x.views-slideshow-cycle-main-frame-row { width: 640px !important; height: 360px !important;}

.node-type-video .media-youtube-preview-wrapper,
.node-type-video .media-youtube-outer-wrapper {width: 100% !; height: auto !;}

.page-node-10 .views-slideshow-cycle-main-frame-row-item,
.page-node-10 .media-youtube-preview-wrapper,
.page-node-10 .media-youtube-outer-wrapper,
.page-node-10 .views-slideshow-cycle-main-frame-row { width: 256px !important; height: 144px !important;}

#block-block-11 a:link, 
#block-block-11 a:visited {
    color: #FEFEFE;
    text-decoration: underline;
}

#block-block-12 h2,
#block-block-13 h2 { color: #f0af15; text-align: center; margin-bottom: 0px;} 
#block-block-12 h3,
#block-block-13 h3 { color: #ffffff; font-size:14px; text-align: center; margin-bottom: 0px;}
#block-block-12,
#block-block-13 { width: 300px;padding-top: 150px;}
#node-webform-35 .node-title { display: none;}
#webform-component-please-enter-your-comments-below { text-align: center; }
#block-block-13 .grippie,
#block-block-13 .webform-component textarea {
    width: 100%;
}
#block-block-13 label { color: #ffffff; font-size:14px; }

#jGrowl { top: 200px; left: 2%; width: 200px;}

.page-profile-dh-bakers-club #block-system-main { margin: 100px auto; width: 400px;}
.node-type-video { background: #000000; margin: 0 auto;}
.node-type-video a { color: #ffffff; } 
.node-type-video .block-system { width: 100%; }
.node-type-video .block-inner{ margin: 0 auto; width: auto;}
.node-type-video #region-content { margin: 0 auto; float: none;}
.node-type-video #zone-content { position: relative; width: 100%;}

.views-widget  .form-item { position: relative; float: left; padding: 5px; background: #FFFFFF; margin: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}
.views-exposed-widgets .description { background: #FFFFFF;

   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;


} 

.views-exposed-form { 

   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 2px 2px 10px;
  background: #f0f0f0;

}

.page-node-8 .views-exposed-form { 

   /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;*/
    /*padding: 2px 2px 2px 10px;*/
    padding: 5px 0 1px 10px;
  /*background: #f0f0f0;*/
  background-color:#ffffff;

}



#edit-rid-wrapper label { }
.view-main-room .item-list  {  float: right; position: relative;clear: right; width: 60%;}
.view-main-room .view-filters {  float: right; position: relative;clear: right;}
.page-vls #block-system-main .block-inner .content { height: 500px; margin: 0 auto; width: 600px; padding-top: 10px;}
.page-vls #block-system-main .block-inner { width: 100%;}

.page-vls #block-system-main {height: 520px;}
.page-vls #block-block-16 { margin: 0 auto; width: 600px;}

.page-vls #region-content {
    float: left;
    position: relative;
    width: 80%;
}
.page-vls #zone-content {
background-image: url('/sites/default/files/backgrounds/themingl_dh_live.jpg');
background-size: 100%;
background-position: top center;
background-repeat: no-repeat;
}
.page-vls-livebc #zone-content { height: 1400px;}

.page-media-the-chocolatiers-corner .views-field-title,
.page-media-lady-godiva-honorees .views-field-title,
.page-media-mothers-showcase .views-field-php,
.view-media-gallery .views-content-title { background: #FFFFFF; color: #0C0C0C;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
    margin-top: 2px;
    font-size: 9px;
    color: #0C0C0C;
    text-align: center;
}
.view-chef-table a 
.view-chef-table .views-row { text-align: center;}
.view-chef-table img { /*padding-left: 5px;*/}

.page-media-mothers-showcase .views-field-php  { text-align: right;}
.page-media-mothers-showcase .views-field-php a { color: #000000; font-weight: bold;}



.shoutout, .pov { background:  #e34b16; color: #FFFFFF; font-weight: bold;}
#contact-site-form { padding: 10px;}
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer { width: 200px;}

.view-media-stage .views-row,
.view-chef-table .views-row,
.view-lady-godiva-honorees-slider .views-row { position: relative; float: left; width: 135px; padding-top: 15px;}

.shout-43 .shoutbox-msg-content {  color: #e04a15; font-weight: bold;}
.shout-44 .shoutbox-msg-content {  color: #C0C0C0; font-weight: bold;}
x.jGrowl-message { background: transparent url('/sites/default/files/images/alert-icon.png') no-repeat 0 0; padding-left: 70px; min-height: 100px;}

.jGrowl-message .user-picture img { height: 80px; padding-right: 20px;} 

.page-node-52 aside.region-sidebar-second { margin-right: 38%; padding-top: 10%;}
#block-block-8 .field-name-field-license,
#block-block-8 .links { display: none;}



.close-button { position: relative; text-align: right; padding: 3px; cursor: pointer;}
.view-main-room-detail .detail-img { margin-top: 17px;}
#block-views-main-room-block .view-header { min-width: 200px; }
#drupalchat ul li a.chatboxblink { text-decoration:blink ;}


.comment .hd h4{font-size:1.2143em;margin-bottom:14px;}.comments .bubble *{margin:0;}.comments .bubble * + *{margin-top:1em;}.comments .bubble li + li{margin-top:0.2143em;}


.node-shoutout-question .content{ width: 60%; margin: 5% 330px; text-align: center;}
#comments { width: 60%; margin: 0 330px  10%;}
#block-views-shout-out-list-block,
#block-block-20,
#comments, .node-shoutout-question .content
{
  border: solid 4px #CCCCCC;
  background: #FFFFFF;
  -moz-box-shadow: 3px 3px 5px #000000;
  -webkit-box-shadow: 3px 3px 5px #000000;       
  box-shadow: 3px 3px 5px #000000;

  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;  
  border-radius: 6px 6px 6px 6px;
  padding: 10px;
}
 #block-block-20  { margin-top: 280px; margin-left: 10px; text-align: center;}
#block-views-shout-out-list-block { margin-top: 30px; padding: 5px;}

#comments .comment-reply, #comments .filter-wrapper, #comments .title, #edit-author--2, #comments label, .node-shoutout-question .links { display: none;}
#comments header,
#comments .user-picture,
#comments .comment-submitted { float: right; padding: 5px;}
#comments .comment-by-viewer .user-picture {float:left;}
.node-shoutout-question .user-picture img, #comments img { width: 80px;}
.node-shoutout-question .user-picture { float: right; position: relative; padding: 5px;}
.node-shoutout-question .field-name-body { padding-top: 20px;}
#comments header,
#comments .comment-submitted { width: 100%;}
.comment-body {  float: left; padding: 5px;}
#comments .field-name-comment-body { font-size: 1.2em;}
#comments .field-name-body { font-size: 1.4em; font-weight: bold;}

.node-type-shoutout-question #section-content { background: url('/sites/default/files/backgrounds/group-gab.jpg') repeat 0 0; overflow:auto; height: auto;}

.node-shoutout-question .content { font-size: 1.4em; font-weight: bold;}

.node-type-shoutout-question #region-content { /*width: 60%;*/ width:967px;}

.page-vls #region-sidebar-second { width: 180px;}
.node-type-shoutout-question #region-sidebar-first { position: relative; float: right; width: 20%;}


.page-node-10 #cboxClose {display:none !important;}
#cboxClose {top:0 !important;}
#cboxLoadedContent {margin-bottom: 0 !important;}
#region-sidebar-second .block-webform {display: none;}

#edit-submitted-email {width:500px;}
#edit-actions--2 {text-align:right;}

#section-footer {bottom: 0;left: 0;position: fixed;width: 100%;z-index:2;}
#region-footer-first {margin-left:0;}
#section-footer #block-block-3 {border-top:1px solid #000000;}
#themingl-footer-left {line-height: 40px; width: 100%; font-size:10px;}

.page-node-10 #block-views-facebook-friends-invite-block {float:left;width:420px;}
.page-node-10 #block-block-8 {float:right;width:465px;}

.page-node-8 #edit-field-invited-as-value-wrapper LABEL.option {font-size:12px;}
.page-node-8 #edit-field-invited-as-value-wrapper .views-widget .form-item {margin:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
.page-node-8 #edit-field-invited-as-value-wrapper.views-exposed-widget {padding:3px 0 0 0 !important;}
.page-node-8 #views-exposed-form-main-room-block .views-exposed-form {-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}

.page-node-8 span.shoutbox-current-user-name, .page-node-8 span.shoutbox-current-user-name a, .page-node-8 span.shoutbox-current-user-name a:visited {font-size:10px;text-transform:uppercase;color:#888888;}
.page-node-8 .shoutbox-user-name {font-size:10px;text-transform:uppercase;color:#888888;}
.page-node-8 .shoutbox-msg span { display: inline; position: relative; float: none; clear: both; font-size:10px;}
.page-node-8 .shoutbox-msg span.shoutbox-msg-time {font-size:10px;}
.page-node-8 .shoutbox-msg-img {margin-right:5px;}
.page-node-8 .shoutbox-shout {font-size:11px !important;font-weight:bold;color:#666666;}
.page-node-8 .shoutbox-msg-content {float:none;}

.page-node-54 #comment-wrapper-nid-54, .comment-wrapper > DIV {height:400px;overflow-x: hidden;overflow-y:scroll;border-bottom:2px solid #a6aaad;}

.thumbnail-gallery-link {display:block;left:3px;position:absolute;width:100px;height:60px;top:33px;}

.view-lady-godiva-honorees-slider IMG, .view-id-chef_table IMG, .view-id-media_stage IMG {border:3px solid #e8a516;}
.view-lady-godiva-honorees-slider .view-content, .view-id-chef_table .view-content, .view-id-media_stage .view-content {width:657px !important;float:right;}
.view-lady-godiva-honorees-slider .view-content .views-row, .view-id-chef_table .view-content .views-row, .view-id-media_stage .view-content .views-row {width:135px;}
.view-lady-godiva-honorees-slider .view-content .views-row-5, .view-id-chef_table .view-content .views-row-10, .view-lady-godiva-honorees-slider .view-content .views-row-15, .view-id-chef_table .view-content .views-row-5, .view-id-chef_table .view-content .views-row-10, .view-id-chef_table .view-content .views-row-15, .view-id-media_stage .view-content .views-row-5, .view-id-media_stage .view-content .views-row-10, .view-id-media_stage .view-content .views-row-15 {width:106px;}

.page-media-lady-godiva-honorees .media-youtube-video IFRAME, .page-media-the-chocolatiers-corner .media-youtube-video IFRAME, .page-media-mothers-showcase .media-youtube-video IFRAME {
	border: 5px solid #e8a516;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: 2px 2px 7px #000000;
	-webkit-box-shadow: 2px 2px 7px #000000;       
	box-shadow: 2px 2px 7px #000000;
}

#block-views-shout-out-list-block {
	display: none;
	position: absolute;
	top: 117px;
	width: 282px;
	border-color: #591e00;
	margin-top: 0;
	z-index: 9999;

	border: 1px solid #888888;
    border-radius: 0 0 0 0;
    box-shadow: none;
    padding: 10px 15px 15px;
    right: 296px;
}

.node-shoutout-question .question {
	border: 2px #555555 solid;
	padding: 3px 70px 3px 4px;
	background: url('../images/drop-down-arrow.png') no-repeat right 0;
	cursor: default;
}

.node-shoutout-question .field-item > P {
	margin-top: 7px;
}

.node-shoutout-question .content, #comments {
	border-color: #591e00;
	border-width: 7px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px;  
	border-radius: 10px 10px 10px 10px;
}

.user-picture IMG {
	border-color: #966441;
	border-width: 3px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px;  
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	width: 60px !important;
}

.comment-body FOOTER, .comment-body .comment-links {
	display: none;
}

.ajax-comment-wrapper .field-name-comment-body {
	background-color: #F1C771;
    border-radius: 6px 6px 6px 6px;
    bottom: 12px;
    padding: 4px 8px;
    position: absolute;
    width: 387px;
    right: 91px;
}

#comments .comment-by-viewer .field-name-comment-body {
	background-color:#c4c4c4;
}

#comments .ajax-comment-wrapper {
	padding:5px 0;
}

.field-name-comment-body P {
	margin-bottom:0;
}

.ajax-comment-wrapper {position: relative;}
.grippie {display:none;}

#edit-comment-body TEXTAREA {
	background-color: #C4C4C4;
    border-radius: 6px 6px 6px 6px;
    border:0;
    height: 39px;
    line-height: 34px;
}

.view-shout-out-list .views-row {margin-top:10px;}
.view-shout-out-list A {font-size:16px;line-height: 120%;}
#region-content .region-inner > DIV {position:relative;z-index:1;}

#block-block-23, #block-block-24, #block-block-25, #block-block-27 {
	left: -10px !important;
	position: absolute !important;
	top: -1px !important;
	z-index: 0 !important;
}

#block-block-23 {left:0 !important;z-index:2 !important;}
#block-block-27 {top:-6px !important;left:4px !important;}
#block-block-25 {
	top: 80px !important;
	left: 35px !important;
}

.page-media-the-chocolatiers-corner #block-system-main .block-inner > .content, .page-media-lady-godiva-honorees #block-system-main .block-inner > .content, #block-views-chef-table-block-1 .block-inner > .content, #block-views-cb6681beb4bb3b730a718b416e733561 .block-inner > .content, .page-media-mothers-showcase #block-system-main .block-inner > .content {
	margin: 50px 0 0 330px;
}

.view-chef-table-display .view-content, #block-views-chef-table-block-1 .block-inner > .content .view-content, .page-media-lady-godiva-honorees #block-system-main .block-inner > .content .view-content, #block-views-cb6681beb4bb3b730a718b416e733561 .block-inner > .content .view-content, .page-media-mothers-showcase #block-system-main .block-inner > .content .view-content, #block-views-media-stage-block-1 .block-inner > .content .view-content {margin:0 !important;padding-left:0 !important; float:none;}
#block-views-chef-table-block-1 .block-inner > .content, #block-views-cb6681beb4bb3b730a718b416e733561 .block-inner > .content, #block-views-media-stage-block-1 .block-inner > .content {margin-top:0 !important; margin-left:333px;}


/* For right sidebar element on Lady GODIVA Honorees */
#block-block-26, #block-block-28 {position:relative;top:410px;}
#block-block-28 {top:450px;}


.node-shoutout-question .content {margin-bottom:25px !important;text-align:left;padding-left:20px !important; width:590px !important;}
.node-shoutout-question .content, #comments {width:600px;}

A.colorbox-inline {font-weight:normal;font-size:12px;}

.node-links {display:none;}

#block-block-12 {
	padding: 0;
    position: absolute !important;
    text-align: center;
    top: 250px;
}

.page-node-14 #block-system-main {
	margin-left:220px;
}

.page-node-33 .media-youtube-video, .page-node-34 .media-youtube-video {text-align:center;}


DIV.form-item-profile-godiva-profile-form-field-are-you-a-mom--und, DIV.form-item-profile-godiva-profile-form-field-are-you-a-grandmother--und, .form-item-profile-godiva-profile-form-field-have-you-shopped-at-a-godi-und {display:inline !important;}
#edit-profile-godiva-profile-form-field-are-you-a-mom-und-1, #edit-profile-godiva-profile-form-field-are-you-a-grandmother-und-1, #edit-profile-godiva-profile-form-field-have-you-shopped-at-a-godi-und-1 {margin-left:15px;}


.page-node-10 #region-sidebar-second {width:22%;}

#edit-profile-godiva-profile-form-field-favorite-chocolate-other {display:none;}
#edit-profile-godiva-profile-form-field-favorite-chocolate-other LABEL {display:none;}
#edit-profile-godiva-profile-form-field-favorite-chocolate-other .form-item-profile-godiva-profile-form-field-favorite-chocolate-other-und-0-value {margin-top:0;}

#edit-profile-godiva-profile-form-field-which-godiva-stores-have-y > DIV > DIV > DIV {float:left;width:50%;}
.page-node-10 #edit-actions {clear:both;padding-top:15px;}

#node-room-14 .field-items > .field-item {
	text-align:center;
	width: 796px;
}

#node-room-14 .field-items > .field-item > IMG {
	position:absolute;
	bottom:0;left:0;
}

.page-node-14 #region-content, .page-node-14 #region-content .region-inner, .page-node-14 #region-content .region-inner #block-system-main {height:100%;min-height:740px;}

#block-block-26 {top:340px;}

.page-node-14 #region-sidebar-second {height:100%;min-height:740px;width:285px;margin-left:0;}
#block-block-29 {position:absolute;bottom:70px;}

.page-node-14 #section-content {min-width:1331px;}